<div class="hide-show">
    <img src="/hide-show.png" alt="hide-show">
    <h6>T</h6>
    <h6>H</h6>
    <h6>A</h6>
    <h6>N</h6>
    <h6>K</h6>
    <h6>S</h6>
    <h6>F</h6>
    <h6>O</h6>
    <h6>R</h6>
    <h6>V</h6>
    <h6>I</h6>
    <h6>S</h6>
    <h6>I</h6>
    <h6>T</h6>
    <h5>THANKS FOR VISIT</h5>
</div>