<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Certifications</title>
    <link rel="stylesheet" href="/css/certification.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="certification-container">
        <h1>Certifications</h1>
        <div class="certification-grid">
              <!-- Certification 1 -->
               <div class="certification-card">
                <a href="https://drive.google.com/file/d/1YOadXaN02gJO5cJxjhMvWUWYrzp3dBjT/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi16.jpeg" alt="Certification 1">
                </a>
                <h3>NPTEL Discipline Star</h3>
                <h5>NPTEL</h5>
            </div> 
             <!-- Certification 2 -->
           <div class="certification-card">
                <a href="https://drive.google.com/file/d/16KbJtybzc84spelrgdeiY4uclaPPGdIv/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi13.png" alt="Certification 2">
                </a>
                <h3>Introduction TO R</h3>
                <h5>Datacamp</h5>
            </div>
            <!-- Certification 3 -->
            <div class="certification-card">
                <a href="https://drive.google.com/file/d/1Uz5JKfGU_rurdVh-GxdyWzHyIznPBsi3/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi1.png" alt="Certification 3">
                </a>
                <h3>Introduction to Software Engineering</h3>
                <h5>Simpli Learn | SkillUP</h5>
            </div>
            <!-- Certification 4 -->
            <div class="certification-card">
                <a href="https://drive.google.com/file/d/14qqyhLs6pZqMhBg_PlJfRiMParGOvMfn/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi2.png" alt="Certification 4">
                </a>
                <h3>Project Based Learning | JOVAC</h3>
                <h5>GLA UNIVERSITY</h5>
            </div>
              <!-- Certification 5 -->
            <div class="certification-card">
                <a href="https://drive.google.com/file/d/1_-4Lc54v0fN0yS2LQqZgoOu8TdLiNEaX/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi5.png" alt="Certification 5">
                </a>
                <h3>Introduction to Internet Of Things</h3>
                <h5>GLA CSED</h5>
            </div>
              <!-- Certification 6 -->
            <div class="certification-card">
                <a href="https://drive.google.com/file/d/1xF86Cqqq5c0uUjjf1Nds57q-7d02DNqN/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi4.png" alt="Certification 6">
                </a>
                <h3>IIOT Communication & Standard Interface</h3>
                <h5>GLA CSED</h5>
            </div>
              <!-- Certification 7 -->
            <div class="certification-card">
                <a href="https://drive.google.com/file/d/1j5cm0iSI-cfeufuGZ6yRTyUSxx8jnqLi/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi6.png" alt="Certification 7">
                </a>
                <h3>Smart Industrial Connectivity</h3>
                <h5>GLA CSED</h5>
            </div>
             <!-- Certification 8 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1DZrRhQEDh-_8NlxdajaIm7WHVS-rB4Lz/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi3.png" alt="Certification 8">
                </a>
                <h3>Data Science and Analytics</h3>
                <h5>GLA CSED</h5>
            </div>
              <!-- Certification 9 -->
            <div class="certification-card">
                <a href="https://drive.google.com/file/d/1wVfFY-EWMc98bRy_-lhW8taLuLQ6_7R1/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi7.png" alt="Certification 9">
                </a>
                <h3>Machine Learning for IIOT</h3>
                <h5>GLA CSED</h5>
            </div>
             <!-- Certification 10 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1bpwsMU3awcDrv7DImN85Hs7ibip3J7sL/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi8.png" alt="Certification 10">
                </a>
                <h3>Software Engineering</h3>
                <h5>NPTEL</h5>
            </div>
             <!-- Certification 11 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1WPdgtdV60EYwgGq6MftWincTXrJE0r1R/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi9.png" alt="Certification 11">
                </a>
                <h3>Ethics In Engineering Practice</h3>
                <h5>NPTEL</h5>
            </div>
             <!-- Certification 12 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1LW7DhHlfBJYkEonth72aBS9ZAXLgnk_b/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi10.png" alt="Certification 12">
                </a>
                <h3>Introduction to Environmental Engineering and Science - Fundamentals and Sustainability Concepts</h3>
                <h5>NPTEL</h5>
            </div>
             <!-- Certification 13 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1WeMAEerY_7GFZJNXwno9dx1p3Z0IoIXC/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi11.png" alt="Certification 13">
                </a>
                <h3>E - Business</h3>
                <h5>NPTEL | Skill India</h5>
            </div>
             <!-- Certification 14 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1e3g1amkD5j97qT1Ntbm6Y8MKq9d9vP00/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi12.png" alt="Certification 14">
                </a>
                <h3>Management Information System</h3>
                <h5>NPTEL | Skill India</h5>
            </div>
             <!-- Certification 15 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1Hgm8YgWYOI-bwrYXSX7SOyRp-_2V8IRb/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi14.png" alt="Certification 15">
                </a>
                <h3>Organizational Behaviour: Individual Dynamics in Organization</h3>
                <h5>NPTEL | Skill India</h5>
            </div>
            <!-- Certification 16 -->
             <div class="certification-card">
                <a href="https://drive.google.com/file/d/1pokJZHPlXbIqoYojYNc7brIhfVzlEG8g/view?usp=sharing" target="_blank">
                    <img src="/certificates/certi15.png" alt="Certification 16">
                </a>
                <h3>Leadership and Team Effectiveness</h3>
                <h5>NPTEL | Skill India</h5>
            </div>
        </div>
    </div>
    <%- include('partials/hide-show') %>
</body>
</html>