<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Page Not Found</title>
</head>
<body>
    <div class="page_not_found_container">
        <img class="page_not_found_img" src="/projects1.png" alt="page_not_found_img">
        <h1>Error 404:Page Not Found</h1>
    </div>
</body>
</html>
<style>
    .page_not_found_container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page_not_found_container h1{
        color:black;
  background-color: red;
  width:25vw;
  text-align:center;
    }
</style>