<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="css/link.css">
    <title>Projects</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="container_project">
        <div class="contain">
            <div class="project1_container">
        <div class="project1">
            <img class="pr_img1" src="/project_img1.png" alt="mitram_img">
            <h5>MITRAM USING LARAVEL , PHP , PUSHER </h5>
        </div>
        <br>
        <div class="box2_button"> 
            <div class="button-icon">
              <div class="icon">
               <img src="/project1_logo.png" alt="icon_image">
              </div>
              <div class="cube">
                <span class="side front">View Project</span>
                <span class="side top"><a href="https://github.com/ANUBHAV-03042004/mitram">Check It On Github</a></span>
              </div>
            </div>
        </div>
        </div>

        <div class="img_container">
            <img class="project_img" src="/projects.png" alt="project_img">
            <h1>PROJECTS</h1>
        </div>
        <div class="project2_container">
        <div class="project2">
            <img class="pr_img2" src="/project_img2.png" alt="esrgan_img">
            <h5>CHOR POLICE USING FLASK , TENSORFOW , PYTORCH </h5>
        </div>
        <br>
        <div class="box2_button"> 
            <div class="button-icon">
              <div class="icon">
               <img src="/project2_logo.png" alt="icon_image">
              </div>
              <div class="cube">
                <span class="side front">View Project</span>
                <span class="side top"><a href="https://github.com/ANUBHAV-03042004/Chor_Police-Enhanced-Super-Resolution-Generative-Adversarial-Network">Check It On Github</a></span>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
