<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" href="css/skill.css">
        <link rel="stylesheet" href="css/link.css">
        <title>Skills</title>
    </head>
<body>
    <%- include('partials/header') %>
    <div class="skills">
        <div class="skill_img">
            <img src="/skill.jpg" alt="skill_logo">
            <h1>SKILLS</h1>
        </div>
        <div class="image-grid">
            <a href="https://laravel.com/docs/11.x/readme" target="_blank"><img src="laravel_logo.png" alt="Image 1"><br>LARAVEL</a>
            <a href="https://react.dev/learn" target="_blank"><img src="react_logo.png" alt="Image 2"><br>React Js</a>
            <a href="https://vite.dev/" target="_blank"><img src="vite_logo.png" alt="Image 3"><br>Vite</a>
            <a href="https://expressjs.com/" target="_blank"><img src="express_js_logo.png" alt="Image 4"><br>Express Js</a>
            <a href="https://www.w3schools.com/html/" target="_blank"><img src="html_logo.png" alt="Image 5"><br>HTML</a>
            <a href="https://www.w3schools.com/css/" target="_blank"><img src="css_logo.png" alt="Image 6"><br>CSS</a>
            <a href="https://www.w3schools.com/js/" target="_blank"><img src="java_script.png" alt="Image 7"><br>Java Script</a>
            <a href="https://www.mysql.com/" target="_blank"><img src="my_sql_logo.png" alt="Image 8"><br>My SQL</a>
            <a href="https://ejs.co/" target="_blank"><img src="ejs_logo.png" alt="Image 9"><br>EJS</a>
            <a href="https://getbootstrap.com/" target="_blank"><img src="bootstrap_logo.png" alt="Image 10"><br>BootStrap</a>
            <a href="https://www.mongodb.com/lp/cloud/atlas/try4-reg?" target="_blank"><img src="mongodb_logo.png" alt="Image 11"><br>MongoDB</a>
            <a href="https://nodejs.org/en" target="_blank"><img src="nodejs_logo.png" alt="Image 12"><br>Node Js</a>
        </div>
    </div>
    <%- include('partials/hide-show') %>
</body>
</html>