<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" href="css/skill.css">
        <link rel="stylesheet" href="css/link.css">
        <title>Skills</title>
    </head>
<body>
    <%- include('partials/header') %>
    <div class="skills">
        <div class="skill_img">
    <img src="/skill.jpg" alt="skill_logo">
    <h1>SKILLS</h1>
</div>
<div class="image-grid">
    <a href="https://laravel.com/docs/11.x/readme"><img src="laravel_logo.png" alt="Image 1"><br>LARAVEL</a>
    <a href="https://react.dev/learn"><img src="react_logo.png" alt="Image 2"><br>React</a>
    <a href="https://vite.dev/"><img src="vite_logo.png" alt="Image 3"><br>Vite</a>
    <a href="https://expressjs.com/"><img src="express_js_logo.png" alt="Image 4"><br>Express Js</a>
    <a href="https://www.w3schools.com/html/"><img src="html_logo.png" alt="Image 5"><br>HTML</a>
    <a href="https://www.w3schools.com/css/"><img src="css_logo.png" alt="Image 6"><br>CSS</a>
   <a href="https://www.w3schools.com/js/"><img src="java_script.png" alt="Image 7"><br>Java Script</a>
    <a href="https://www.mysql.com/"><img src="my_sql_logo.png" alt="Image 8"><br>My SQL</a>
</div>

</div>

</body>
</html>
