*{
    margin:0;
    padding:0;
}

.home{
    min-height:94vh;
    min-width:98vw;
     display: grid;
     place-items: start end;
}
.home h1{
    color:black;
    background-color: red;
    width:28vw;
    text-align:center;
    margin-right: 14vw;
    margin-bottom:7.5vh;
}
.home_img{
    height:65vh;
    width:55vw;
    margin-top:15vh;
    object-fit: contain;
}
.content{
    height:50vh;
    width:50vw;
    position: absolute;
    top:25vh;
}
.content h1{  text-align:center;}
.content h2{ text-align:center}