.button-icon {
  display: flex;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.icon {
  padding: 10px 10px 5px 10px;
}
.icon svg {
  width: clamp(20px, 3vw, 25px);
  height: clamp(20px, 3vw, 25px);
}
.icon img {
  height: clamp(20px, 3vw, 25px);
  width: clamp(20px, 3vw, 25px);
}
.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: clamp(150px, 20vw, 200px);
  height: 20px;
}
.button-icon:hover .cube {
  transform: rotateX(90deg);
}
.side {
  position: absolute;
  height: 47px;
  width: clamp(150px, 20vw, 200px);
  display: flex;
  font-size: clamp(0.7em, 1.5vw, 0.8em);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.side a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.top {
  background: red;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}
.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}
.box1_button, .box2_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3vh;
}
.box2_button a {
  text-decoration: none;
  color: #fff;
}
